/*Estilos comunes a todas las paginas*/
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #c5d6c2;
}

.row{
    margin: 0px;
}

a{
    list-style: none;
    text-decoration: none;
}

.header{
    background-color: #94B49F;
    color: #E5E3C9;
}

.titulo{
    padding: 15px 25px 15px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h1{
    font-size: 4rem;  
}

.titulo h2{
    font-size: 0.75rem;
}

.nav-link{
    color: #789395;
}

.footer{
    background-color: #94B49F;
    color: #D8D2CB; 
    padding: 15px;
}

.redes a img:hover{
    width: 70px;
    height: 80px;
}

/*Estilos inicio*/

.imagen1 p{
    width: 42rem; 
    border: solid;
    background-color: #E5E3C9;
    opacity: 0.6;
    color: #789395;
    animation-name: img1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

@keyframes img1 {
    from{transform: translateX(0px)
                 translateY(-500px);}
    to{transform: translateX(250px)
                translateY(-500px);}
}

.aside{
    background-color: #789395;
    margin-top: 80px;
    height: max-content;
    
}
.ultNoticias a{
    color: #D8D2CB;
}


.ultNoticias a:hover{
    color: #B4CFB0;
}


/*Estilos Nosotros*/
.imagen2 h2{
    width: 42rem; 
    border: solid;
    background-color: #E5E3C9;
    opacity: 0.6;
    color: #789395;
    animation-name: img2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes img2 {
    from{transform: translateX(0px)
                 translateY(-400px);}
    to{transform: translateX(400px)
                translateY(-400px);}
}

.nosotros{
    background-color: #94B49F;
}

.nosotros h3{
    color: #E5E3C9;
}

.nosotros p{
    color: #D8D2CB;
    text-align: justify;
}

.valores{
    background-color: #94B49F;
}

.valores h3{
    color: #E5E3C9;
}

.valores ul{
    color: #D8D2CB;
}

.valores div ul li:hover{
    font-size:x-large; 
}


/*media queries*/

@media screen and (min-width: 0px) and (max-width: 767px){

    /*inicio*/
    .imagen1{
       position: relative;
        margin-right: 0px;  
    }
    
    .imagen1 p {       
        width: 15rem;
        height: 7rem;
        animation: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     }

     /*nosotros*/
     .nosotros{
         background-color: #c5d0c4;
     }

     .nosotros h3{
        color: #789395;
    }

    .nosotros p{
        color:aliceblue;
    }
  
    .imagen2{
        position: relative;
        margin-right: 0px;
    }

    .imagen2 h2{
        width: 15rem;
        height: 4rem;
        animation: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .valores{
        background-color: #c5d0c4;
    }
    .valores h3{
        color: #789395;
    }

    .valores ul{
        color:aliceblue; 
    }

}

@media screen and (min-width: 768px) and (max-width: 1439px)
{
    .imagen1{
        position: relative;
    }

    .imagen1 p { 
        width: 35rem;
        height: 5rem;
        animation: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .imagen2{
        position: relative;
    }

    .imagen2 h2{
        width: 35rem;
        height: 4rem;
        animation: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}
    
